{{> head }}

   {{> navbar }}

    <div class="row p-4">
        <div class="col-8 col-md-8">
            <h1>Cápitan América</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui repellendus eos nam dignissimos illo doloribus neque maiores. Dolorum incidunt rerum maxime. Dolore qui perferendis dolores voluptatem voluptate quas a dignissimos.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique natus sapiente vitae temporibus repudiandae nisi, voluptatem minus, ipsam iste minima, molestias qui sed. Neque sapiente nam adipisci optio repudiandae eaque?
            </p>

        </div>
        <div class="col-4 col-md-4">
            <img src="assets/img/capitan-america.png" class="img-thumbnail" />
        </div>
    </div>


{{> footer }}